{%extends "base.html"%} {%block title%}Home{%endblock%} {%block content%} {%if
current_user.is_authenticated%}
<h4 align="center">Hello, {{current_user.username}}</h4>

{%endif%}

<div class="d-grid gap-2 col-6 mt-5 mb-5 mx-auto">
  <a
    href="{{url_for('tasks.create_note')}}"
    class="btn btn-xd-primary"
    type="button"
    >Create note</a
  >
  <a
    href="{{url_for('tasks.create_task')}}"
    class="btn btn-xd-secondary"
    type="button"
    >Create task</a
  >
</div>
<div class="container text-start">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      {%if yet_done_tasks%} {%for task in yet_done_tasks%}
      <div class="card task-card mb-2" style="max-width: 800px">
        <div class="card-body">
          <h5 class="card-text">{{task.todo}}</h5>
          {%if task.due_by%}
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Due: {{task.due_by.strftime("%A, %d %B %Y")}}
          </h6>
          {%endif%}
          <a
            href="{{url_for('tasks.switch_done', task_id=task.id)}}"
            class="btn btn-xd-secondary btn-sm"
            >Mark as done</a
          >
          <a
            href="{{url_for('tasks.delete_task', task_id=task.id)}}"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
        </div>
      </div>
      {%endfor%} {%endif%} {%if done_tasks%} {%for task in done_tasks%}
      <div class="card done-task-card mb-2" style="max-width: 800px">
        <div class="card-body">
          <s><h5 class="card-text">{{task.todo}}</h5></s>
          {%if task.due_by%}
          <p class="card-subtitle mb-2 text-body-secondary">
            Due: {{task.due_by.strftime("%A, %d %B %Y")}}
          </p>
          {%endif%}
          <a
            href="{{url_for('tasks.switch_done', task_id=task.id)}}"
            class="btn btn-unmark btn-sm"
            >Unmark as done</a
          >
          <a
            href="{{url_for('tasks.delete_task', task_id=task.id)}}"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
        </div>
      </div>
      {%endfor%} {%endif%}
    </div>
  </div>
</div>
{%endblock%}
