{%extends "base.html"%} {%block title%}Login{%endblock%} {%block content%}

<form method="POST">
  <h3 align="center">Log in</h3>
  {{form.hidden_tag()}}
  <div class="form-group mb-3">
    {{form.email.label (class="form-control-label")}} {%if form.email.errors%}
    {{form.email(class="form-control is-invalid")}}
    <div class="invalid-feedback">
      {%for error in form.email.errors%}
      <span>{{error}}</span>
      {%endfor%}
    </div>
    {%else%} {{form.email(class="form-control")}} {%endif%}
  </div>

  <div class="form-group mb-3">
    {{form.password.label (class="form-control-label")}} {%if
    form.password.errors%} {{form.password(class="form-control is-invalid")}}
    <div class="invalid-feedback">
      {%for error in form.password.errors%}
      <span>{{error}}</span>
      {%endfor%}
    </div>
    {%else%} {{form.password(class="form-control")}} {%endif%}
  </div>
  <div class="form-check mb-3">
    {{form.remember_me(class="form-check-input")}}
    {{form.remember_me.label(class="form-check-label")}}
  </div>

  <div>{{form.submit(class="btn btn-xd-secondary")}}</div>
  <div class="text-muted mt-2">
    <small>
      Don't have an account?<a href="{{url_for('auth.register')}}">
        Click here to register.</a
      >
    </small>
  </div>
</form>

{%endblock%}
